td.gamecell {
  width: 80px;
  height: 80px;
  padding: 0px;
  text-align: center;
  font-size: 50px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  transition: 0.2s;
  color: black;
}
td.menucell {
  width: 40px;
  height: 40px;
  padding: 0px;
  text-align: center;
  font-size: 25px;
  border: 1px solid black;
  background-color: white;
  transition: 0.2s;
  color: black;
}
table#longest {
  margin-left: 22%;
}
#go, #popupgo {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-top: 10px;
}
button {
  background-color: #a5abb5;
  color: black;
  transition: 0.3s;
  border: 1px solid black;
}
button:hover {
  background-color: #6d6d6d;
}
#again {
  width: 150px;
  height: 50px;
  font-size: 20px;
  margin-top: 10px;
}
table#game {
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
}
div.format {
  text-align: center;
  float: left;
  width: 40%;
}
p {
  font-size: 20px;
  height: 85%;
  text-transform: capitalize;
  column-width: 110px;
}
#words {
  float: left;
  height: 98%;
  width: 28%;
  margin-top: 20px;
  margin-left: 20px;
}
* {
  font-family: 'Open Sans', sans-serif;
  user-select: none;
  color: #bdc1c6;
}
h1 {
  font-size: 80px;
  margin-top: 70px;
  margin-bottom: 0px;
  z-index: 3;
  position: relative;
  transition: 1s;
}
#count {
  font-weight: 800;
  font-size: 25px;
  margin-top: 0px;
}
body {
  background-color: #202124;
}
h3 {
  margin-top: -5%;
  margin-bottom: 50px;
  z-index: 3;
  position: relative;
}
div.switch {
  width: 275px;
  height: 5px;
  margin-top: 10px;
  margin-left: 3px;
  background-color: white;
  --location: 170px;
}
div.switch::before{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  left: var(--location);
  top: -7px;
  content: "";
  position: relative;
  background-color: rgb(72, 79, 109);
  transition: 0.5s;
}
#switchbox, #win {
  width: 410px;
  line-height: 30px;
  display: inline-block;
  position: relative;
  top: -105%;
  font-size: 18px;
  text-align: left;
}
#popup {
  width: 500px;
  height: 80%;
  background-color: #171717;
  z-index: 2;
  position: relative;
  left: 30%;
  top: 10%;
  border-radius: 10%/10%;
  border: 2px solid white;
  transition: 0.5s;
  opacity: 0%;
  text-align: center;
  margin: 0px;
}
span.sliderformat {
  padding-right: 68px;
}
input {
  width: 400px;
  height: 30px;
  color: black;
  font-size: 17px;
}
input#import {
  width: 350px;
}
#timerbox {
  float: right;
  width: 10%;
  height: 8%;
  margin-top: 15px;
  margin-right: 15px;
  height: 100%;
}
#timer {
  background-color: #bdc1c6;
  color: black;
  font-size: 40px;
  border-radius: 10%/20%;
  text-align: center;
}
#go {
  opacity: 0%;
  transition: 0.5s;
}
#wordlabel {
  padding-left: 200px;
}
#timelabel {
  padding-left: 66.666px;
}
.label {
  line-height: 10px;
}
.center {
  display: block;
  width: auto;
  text-align: center;
}
#win {
  display: none;
}
#daily {
  width: 50px;
  height: 30px;
}
#end, #copy {
  width: 10%;
  position: absolute;
  bottom: 20;
}
#end:hover {
  background-color: #6d6d6d;
}
/* heyy man */